<link rel="stylesheet" href="resources/css/accessinput.css" type="text/css" media="all">

<div class="header">
  <h1>Accessibility Information</h1>
</div>

<form id="accessibility-form" role="form">
	<div class="form-group has-feedback">
	  	<label for="greeting-access-input" class="control-label">Greeting</label>
	    <textarea class="form-control access-input" id="greetings" rows="3" 
	    placeholder="Welcome to... "></textarea>
	</div>

	<div class="form-group has-feedback">
	  	<label for="warning-access-input" class="control-label">Warnings</label>
	    <textarea class="form-control access-input" id="warnings" rows="3"
	    placeholder="There is a step after you enter the entrance door. Watch out."></textarea>
	</div>

	<div class="form-group has-feedback">
	  	<label for="staff-assistance-access-input" class="control-label">How to get staff assistance</label>
	    <textarea class="form-control access-input" id="staff-assistance" rows="3"
	    placeholder="The reception is to the left of the entrance. Our staff will give you assistance."></textarea>
	</div>

	<div class="form-group has-feedback">
	  	<label for="restroom-access-input" class="control-label">Restrooms' locations</label>
	    <textarea class="form-control access-input" id="restroom" rows="3"
	    placeholder="From the entrance, walk 10 meters to the first corridor on your left. The restroom is at the end of the corridor."></textarea>
	</div>

	<div class="form-group has-feedback">
	  	<label for="extra-access-input" class="control-label">Extra information</label>
	    <textarea class="form-control access-input" id="extra-access-input" rows="3"
	    placeholder="For example: if this place is a restaurant, include the menu and prices. If this place is a store, include the aisles of the popular products."></textarea>
	</div>

	<div class="form-group">
  		<button id="submit-place-btn" class="btn btn-default pull-right submit-access-info">Submit</button>
	</div>
</form>