<link rel="stylesheet" href="resources/css/home.css" type="text/css" media="all">

<div class="container-fluid container-no-margin">
  <div id="index-banner" class="jumbotron row">
    <div class="col-xs-10 col-xs-offset-1 container-no-margin">
      <h1 class="heading">Ray Places</h1>
      <p>Make the world more accessible for the visually handicapped</p>
    </div>
  </div>
</div><!-- /.container -->

<div class="container-fluid content">
  <div class="row">
    <div class="col-md-6 col-md-offset-1 login-img">
      <h1>Login Img</h1>
    </div>
    <div class="col-md-4">
      <div class="row signin-container">
        <h1>Log in</h1>
        <p>Sign in with your &nbsp;Project Ray's account</p>
        <form class="form-horizontal" role="form">
          <div id="userid-form-group" class="form-group has-feedback">
            <label for="input-userid" class="col-sm-3 control-label">User ID</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="input-userid" placeholder="Your User ID">
            </div>
          </div>
          <div id="password-form-group" class="form-group has-feedback">
            <label for="input-password" class="col-sm-3 control-label">Password</label>
            <div class="col-sm-9">
              <input type="password" class="form-control" id="input-password" placeholder="Password">
            </div>
          </div>

          <div id="error-msg-container"></div>

          <div class="form-group">
            <div class="col-sm-offset-3 col-sm-4">
              <div class="checkbox">
                <label>
                  <input type="checkbox"> Remember me
                </label>
              </div>
            </div>
            <div class="col-sm-5">
              <button id="signin_btn" type="submit" class="btn btn-default sign-in-button">
                Sign in
              </button>
            </div>
          </div>
        </form>
      </div><!-- signin-container -->
      <div class="row new-acc-container">
        <p>or you can sign up for a new account</p>
        <form class="form-horizontal" role="form">
          <div class="form-group">
            <div class="col-sm-12">
              <button class="btn btn-default pull-right new-acc-btn">Create a new account</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div><!-- main container-->


